html,body {
  height: 100%;  
  margin:0;
}

.container-width {
    height: 100%;
}
.bg-header
{
    background-image: url('../img/code1.jpg');
    min-height: 100%;
    background-size: cover;
    background-position-y: center;
    filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
} 

#text-imgheader {
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -250px;
  
    position: relative;
    width:40%;
}
/*IMAGE EFFECTS*/

 
figure img {
    margin-left: 350px;
    width: 100%;
    margin-bottom: 35px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;


}
 
figure img:hover {
  border: 15px solid #000;
  border-radius: 20%;
}

 .middle {
    margin-left: 85px;
}

#logocode {
    width: 100%;
    height: 100%;
    margin-top: -350px;
}

#hi1 {
position : relative;
top:-250px;
left:80px;
}
#hi2 {
position : relative;
top:-250px;
}
#hi3 {
position : relative;
top:-320px;
left:80px;
}      
#hi4 {
position : relative;
top:-320px;
} 
#hi5 {
position : relative;
top:-420px;
left:80px;
} 
#hi6 {
position : relative;
top:-430px;
left:-20px;
} 
#hi7 {
position : relative;
top:-550px;
left:70px;
} 
#hi8 {
position : relative;
top:-550px;
} 
#hi9 {
position : relative;
top:-520px;
left:-80px;
} 